.condition-form .form-buttons, .condition-type-form-group {
  padding-top: 0.5rem;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: border-color('condition');
}

.condition-form--focus {
  .condition-type-form-group__open-controls, > .form-buttons {
    display: none !important;
  }
}

.generic-condition-sub-form__value {
  .numerical-input-with-unit {
    @extend .row;
    align-items: center;
    @extend .gx-1;
    &__input, &__unit {
      padding: 0 calc(var(--bs-gutter-x) * 0.5)
    }
    &__input {
      @extend .col-8
    }
    &__unit {
      @extend .col-4;
      @extend .col-form-label
    }
  }

}
