@use "sass:map";

$condition-card-indentation: 3rem;

.procedure-card--condition {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  border-right: none;
  margin-left: $condition-card-indentation;
  .card-header {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
  }
  .procedure-card__header-label {
    max-width: $max-label-width - $condition-card-indentation;
  }
  .procedure-card__info {
    border-bottom-right-radius: 0 !important;
  }
}
