.main-header {
  .nav-link, .navbar-text {
    font-size: $h4-font-size;
  }
  &__brand {
    display: flex;
    align-items: center;

    &-name {
      font-size: $h2-font-size;
    }
  }
  &__nav {
    &:before {
      margin-top: -.2rem;
      display: inline-block;
      content: '|';
      color: $navbar-dark-color;
      font-size: $h1-font-size;
      margin-left: $navbar-nav-link-padding-x;
      margin-right: $navbar-brand-margin-end;
    }
  }
}
