.column-container-card {
  margin-right: 1rem;
  &--preparation {
    width: 320px;
  }
  &--step {
    width: 416px;
    .step-column-card__condition-container {
      border-color: border-color('condition');
      border-style: solid;
      border-width: 0 6px 0 0;
      @include details-spacing;
    }
  }
}
