@use "sass:map";

.procedure-card {
  --bs-card-spacer-x: 0;
  --bs-card-spacer-y: 0;
  &--action, &--condition {
    --bs-card-cap-padding-x: 0.75rem;
    --bs-card-cap-padding-y: 0.35rem;
  }
  &--action {
    margin-right: 0.75rem;
  }
  &__header-label {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: $max-label-width;
  }
  &__info, &__form, &__details, &__type-panel {
    padding: var(--bs-card-cap-padding-x);
  }
  &__info {
    padding-top: 0;
    display: flex;
    font-size: $font-size-sm;
    .sample-molecule-image {
      margin-right: 1rem;
    }
    h6 {
      margin-bottom: 0;
    }
    &:last-child {
      border-bottom-left-radius: var(--bs-card-inner-border-radius);
      border-bottom-right-radius: var(--bs-card-inner-border-radius);
    }
  }
  &__details {
    @include details-spacing
  }
  .card-header {
    border-bottom: none;
  }
}

@each $color, $value in $theme-colors {
  .procedure-card--#{$color} {
    border-color: border-color($color);
    .card-header, .procedure-card__info {
      background-color: #{$value};
    }
  }
}
