.sample-selection {
  padding: 0.375rem;
  border-color: $input-border-color;
  border-style: solid;
  border-width: 1px;
  border-radius: $input-border-radius;
  background-color: $input-disabled-bg;
}