.type-selection-panel {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -.375rem;

  &__action {
    margin-bottom: 0.5rem;
  }

  &__cluster {
    padding: .75rem .375rem 0;

    .btn {
      margin-bottom: .5rem;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
