@use "sass:map";

$theme-color-mapping: (
  "dark": "dark",
  "info": "primary",
  "success": "success",
  "warning": "dark",
  "error": "danger",
);

:root {
  --toastify-color-light: #{$toast-background-color};
  --toastify-color-dark: #{map.get($theme-colors, map.get($theme-color-mapping, 'dark'))};
  --toastify-color-info: #{map.get($theme-colors, map.get($theme-color-mapping, 'info'))};
  --toastify-color-success: #{map.get($theme-colors, map.get($theme-color-mapping, 'success'))};
  --toastify-color-warning: #{map.get($theme-colors, map.get($theme-color-mapping, 'warning'))};
  --toastify-color-error: #{map.get($theme-colors, map.get($theme-color-mapping, 'error'))};
  --toastify-color-transparent: rgba(255, 255, 255, 0.7);

  --toastify-icon-color-info: var(--toastify-color-info);
  --toastify-icon-color-success: var(--toastify-color-success);
  --toastify-icon-color-warning: var(--toastify-color-warning);
  --toastify-icon-color-error: var(--toastify-color-error);

  --toastify-toast-width: #{$toast-max-width};
  --toastify-toast-background: #fff;
  --toastify-toast-min-height: 64px;
  --toastify-toast-max-height: 800px;
  --toastify-font-family: sans-serif;
  --toastify-z-index: 9999;

  --toastify-text-color-light: #{$toast-color};
  --toastify-text-color-dark: #fff;

  //Used only for colored theme
  --toastify-text-color-info: #fff;
  --toastify-text-color-success: #fff;
  --toastify-text-color-warning: #fff;
  --toastify-text-color-error: #fff;

  --toastify-spinner-color: #616161;
  --toastify-spinner-color-empty-area: #e0e0e0;

  // Used when no type is provided
  // toast("**hello**")
  --toastify-color-progress-light: linear-gradient(
                  to right,
                  #4cd964,
                  #5ac8fa,
                  #007aff,
                  #34aadc,
                  #5856d6,
                  #ff2d55
  );
  // Used when no type is provided
  --toastify-color-progress-dark: #bb86fc;
  --toastify-color-progress-info: var(--toastify-color-info);
  --toastify-color-progress-success: var(--toastify-color-success);
  --toastify-color-progress-warning: var(--toastify-color-warning);
  --toastify-color-progress-error: var(--toastify-color-error);
}

.Toastify {
  &__toast {
    box-shadow: $toast-box-shadow;
    border: $toast-border-width solid;
    padding: $toast-padding-x $toast-padding-y;
    @include border-radius($toast-border-radius);
    @each $name, $mapping-name in $theme-color-mapping {
      &--#{$name} {
        color: map.get($theme-colors, $mapping-name);
        border-color: border-color($mapping-name);
      }
    }
  }
  &__toast-body {
    margin: .5rem 0;
    padding: 0;
    font-size: $font-size-lg;
  }
  &__close-button {
    margin: -0.5rem;
  }
}
