@use "sass:map";

@mixin type-border-color($direction:'') {
  @each $color, $value in $theme-colors {
    &--#{$color} {
      @if $direction != '' {
        border-#{$direction}-color: border-color($color);
      }
      @else {
        border-color: border-color($color);
      }
    }
  }
}

@mixin separator-border {
  padding-bottom: 0.5rem;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  @include type-border-color('bottom')
}
