#root {
  margin-top: 7rem;  /* Account for the fixed navbars */
}

#navbar-reaction {
  margin-top: 3.5rem;  /* Account for the fixed main navbar */
}

.align-items-top-third {
  height: 33vh;
}

.navbar-nav {
  /* This should actually be default according to reactstrap docs */
  flex-direction: row;
}

#main-navbar {
  z-index: 1050; /* Fixes an issue with Dropdownmenu being behind the reaction-navbar */
}

.reaction-link-card:hover {
  cursor: zoom-in;
}

.cursor-wait {cursor: wait;}

.tooltip-inner {
  background: white;
  color: black;
  border: 1px solid gray;
  max-width: 100%;
  max-height: 100%;
}
