@use "sass:color";

/* bootstrap vars */
/* colors */
$white: #fff;
$black: #000;
$gray-900: #212529 !default;

$theme-colors: (
  "primary": #2495cf,
  "danger": #ee474e,
  "warning": #d8e037,
  "success": #07bc0c,
  "secondary": #337ab7,
  "dark": #4f5659,
  "preparation": #AAB9BF,
  "step": #68D47F,
  "action": #6DC5F2,
  "condition": #EBCE6A,
  "white": #FFFFFF,
  "transparent": transparent,
);

/* general functions */
@import "~bootstrap/scss/_functions";
@import "base/mixins/colors";
@import "base/mixins/backgrounds";
@import "base/mixins/borders";
@import "base/mixins/spacing";
$body-color: $gray-900 !default;
$color-contrast-dark: $black;
$color-contrast-light: $white;
$spacer: .75rem;
$font-size-root: 13px;
$font-size-lg: 1.07692rem;
$h6-font-size: 1rem;
$h5-font-size: $font-size-lg;
$h4-font-size: 1.23077rem;
$h3-font-size: 1.38462rem;
$h2-font-size: 1.61538rem;
$h1-font-size: 1.84615rem;
$body-bg: $white;
$min-contrast-ratio: 2.5;
$input-color: $body-color !default;
$input-btn-padding-x: .6rem;
$input-btn-padding-y: .2rem;
$input-btn-padding-x-lg: .8rem;
$input-btn-padding-y-lg: .3rem;
$input-disabled-bg: tint-color(color("preparation"), 80%);
$component-active-bg: color("primary");
$input-focus-border-color: color.change(color("primary"), $alpha: 0.3);
$modal-backdrop-bg: $body-bg;
$modal-backdrop-opacity: 0.9;
$form-label-font-weight: 500;
$input-border-radius: .3rem;

$card-border-radius: .5rem;
$card-cap-bg: tint-color(color("preparation"), 30%);
$card-border-color: shade-color($card-cap-bg, 30%);
$modal-md: 400px;
$modal-header-padding-x: .75rem;
$modal-header-padding-y: .35rem;
$navbar-nav-link-padding-x: 1rem;
$navbar-brand-font-size: $h2-font-size;
$navbar-dark-color: $color-contrast-light;
$toast-background-color: $body-bg;
$toast-border-radius: $card-border-radius;
$toast-padding-x: 1rem;
$toast-padding-y: 1rem;

/* import bootstrap to set changes */
@import "~bootstrap/scss/bootstrap";

/* component vars */
$max-label-width: 30rem;
$input-disabled-color: tint-color($input-color, 40%);

/* overwrite bootstrap standard behaviour */
@import "base/bootstrap_overwrite/btn";
@import "base/bootstrap_overwrite/form-control";
@import "base/bootstrap_overwrite/modal";
/* styling for components from other libraries */
@import "base/other_libraries_overwrite/react-datetime-picker";
@import "base/other_libraries_overwrite/react_select";
@import "base/other_libraries_overwrite/react-toastify";
@import "base/other_libraries_overwrite/react-dnd";
/* styling for generic page layout */
@import "layout";
/* components */
@import "components/reactions/ReactionNavbar";
@import "components/activities/Activity";
@import "components/activities/ActivityCreator";
@import "components/activities/ActivityInfo";
@import "components/activities/ConditionCard";
@import "components/activities/ConditionForm";
@import "components/activities/InsertZone";
@import "components/activities/purify/FiltrationStepForm.scss";
@import "components/activities/timing/Timer.scss";
@import "components/layout/MainHeader";
@import "components/samples/SampleMoleculeImage";
@import "components/utilities/AmountInput";
@import "components/utilities/ColumnContainerCard";
@import "components/utilities/CreateButton";
@import "components/utilities/DurationSelection";
@import "components/utilities/FormButtons";
@import "components/utilities/FormSection";
@import "components/utilities/IconButton";
@import "components/utilities/Label";
@import "components/utilities/MultiInputFormGroup";
@import "components/utilities/MetricsInput";
@import "components/utilities/ProcedureCard";
@import "components/utilities/SpinnerWithMessage";
@import "components/utilities/TypeSelectionPanel";
